<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('New Branch Admin') %></div>
  </div>
  <br/>
  <%= form_tag("/users/update_admin", :method => 'POST', :multipart => true) do %>
    <div class="row" style="margin: 0px">
      <div class="col-sm-4">

        <div class="form-group">
          <%= label_tag('', 'Name', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "name", '', :placeholder => 'Name', :required => true, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Email', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "email", '', :placeholder => 'Email', :required => true, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Mobile Number', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "mobile_no", '', :placeholder => 'Mobile Number', :required => true, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Controll Room', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("control_room_id", options_for_select(ControlPoint.all.collect {|u| [u.name, u.id]}, ''), :class => 'form-control', :prompt => 'Select Controll Room', :required => true) %>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <span><%= submit_tag "save", :class => 'btn btn-success btn-md', :style => 'background-color:#088351;width:150px' %></span>
    </div>
  <% end %>
  <br/>
</div>
