<div class="container" style="background-color: white;padding: 0px">
  <div style=";background-color: ghostwhite;border-radius: 8px;border-top: none">
    <div style="background-image: linear-gradient(141deg, #044f81 0%, #1fc8db 51%, #044f81 75%);padding: 20px;text-align: center;font-weight: bold;font-size: 18px;color: white">NOC
      for Registration of Inland Vessels and Boats
    </div>


    <div style="padding: 20px;background-color: white">


      <br/>

      <%= form_tag("/noc_boat_registrations/checkOut", :method => 'POST', :multipart => true) do %>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">

              <%= label_tag('', 'Name', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black;font-weight:600;font-size:13px") %>
              <br/>
              <%= text_field_tag "name", '', :placeholder => 'Name', :required => true, :class => 'form-control' %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= label_tag('', 'Mobile Number', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black;font-weight:600;font-size:13px") %>
              <br/>
              <%= text_field_tag "mobile_number", '', :placeholder => 'Mobile Number', :required => true, :class => 'form-control' %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <%= label_tag('', 'Email', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black;font-weight:600;font-size:13px") %>
              <br/>
              <%= text_field_tag "email", '', :placeholder => 'Email', :required => true, :class => 'form-control' %>
            </div>
            <%= hidden_field_tag :amount, SystemSetting.find_by_key("NOCFEE").try(:value) %>


          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-8">
            <p style="font-size: 16px;color: black"> NOC Registration Fee
              <b style="color: darkorange;">Rs. <%= SystemSetting.find_by_key("NOCFEE").try(:value) %></b> (Inclusive of
              all taxes)</p>
          </div>
          <div class="col-sm-4">
            <div class="text-right"><%= submit_tag "Proceed to Pay >>    Rs. #{SystemSetting.find_by_key("NOCFEE").try(:value)}", :class => 'btn btn-primary btn-md btn-lg btn-block', :style => 'font-size:16px;font-weight:bold' %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
