<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Units') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Unit', new_unit_path, :class => 'btn btn-success', :style => 'color:white;background-color:#088351 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>Code</th>
      <th>Division</th>
      <th>Active</th>
      <th></th>
      <th></th>
    </tr>

    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.name %></td>
        <td><%= unit.code %></td>
        <td><%= Division.find_by_id(unit.division_id).try(:name) %></td>
        <td><%= unit.active %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </table>

  <br/>
</div>


