<p id="notice"><%= notice %></p>

<p>
  <b>Boat:</b>
  <%= @trip_clearance.boat_id %>
</p>

<p>
  <b>Control room:</b>
  <%= @trip_clearance.control_room_id %>
</p>

<p>
  <b>Name of the vessel:</b>
  <%= @trip_clearance.name_of_the_vessel %>
</p>

<p>
  <b>Registration number:</b>
  <%= @trip_clearance.registration_number %>
</p>

<p>
  <b>Owner of the vessel:</b>
  <%= @trip_clearance.owner_of_the_vessel %>
</p>

<p>
  <b>Owner email:</b>
  <%= @trip_clearance.owner_email %>
</p>

<p>
  <b>Mobile no:</b>
  <%= @trip_clearance.mobile_no %>
</p>

<p>
  <b>Navigation route:</b>
  <%= @trip_clearance.navigation_route %>
</p>

<p>
  <b>Route permission number:</b>
  <%= @trip_clearance.route_permission_number %>
</p>

<p>
  <b>Captain name:</b>
  <%= @trip_clearance.captain_name %>
</p>

<p>
  <b>Captain license no:</b>
  <%= @trip_clearance.captain_license_no %>
</p>

<p>
  <b>Created by:</b>
  <%= @trip_clearance.created_by %>
</p>

<p>
  <b>Life jackets:</b>
  <%= @trip_clearance.life_jackets %>
</p>

<p>
  <b>Fire extinguishers:</b>
  <%= @trip_clearance.fire_extinguishers %>
</p>

<p>
  <b>Passenger capacity:</b>
  <%= @trip_clearance.passenger_capacity %>
</p>

<p>
  <b>Life rafts:</b>
  <%= @trip_clearance.life_rafts %>
</p>

<p>
  <b>Life buoys:</b>
  <%= @trip_clearance.life_buoys %>
</p>

<p>
  <b>Trip duriation:</b>
  <%= @trip_clearance.trip_duriation %>
</p>

<p>
  <b>Boat type:</b>
  <%= @trip_clearance.boat_type %>
</p>

<p>
  <b>Engine type:</b>
  <%= @trip_clearance.engine_type %>
</p>

<p>
  <b>Proposed use:</b>
  <%= @trip_clearance.proposed_use %>
</p>

<p>
  <b>Is current:</b>
  <%= @trip_clearance.is_current %>
</p>

<p>
  <b>Departure date:</b>
  <%= @trip_clearance.departure_date %>
</p>

<p>
  <b>Wearing life jackets:</b>
  <%= @trip_clearance.wearing_life_jackets %>
</p>

<p>
  <b>Influence of alcohol:</b>
  <%= @trip_clearance.influence_of_alcohol %>
</p>

<p>
  <b>Trip end:</b>
  <%= @trip_clearance.trip_end %>
</p>


<%= link_to 'Edit', edit_trip_clearance_path(@trip_clearance) %> |
<%= link_to 'Back', trip_clearances_path %>
